html,
body {
  margin: 0;
  color: #e6e6e6;
  background: #101010;
}
.mob_class {
  display: block !important;
}
#ves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1250px;
}
.okvir {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
button,
select {
  cursor: pointer;
}
.obavestenje {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 0;
  z-index: 9;
  background: rgba(226, 193, 133, 0.822);
  color: #000;
  text-align: center;
}
.obavestenje2 {
  display: none;
  width: 100%;
  font-family: 'Source Sans Pro' sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  letter-spacing: 2px;
  padding: 10px;
  margin: -40px 0 90px 0;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.8);
  color: #e4c07d;
  border: 1px solid #564C3B;
}
.social {
  float: right;
}
.social a {
  color: #B3B3B3;
  padding: 10px;
  margin: 0;
  font-size: 15px;
}
.social a:hover {
  color: #C19237;
}
#pocetna {
  z-index: 2;
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh ;
  text-align: center;
  background: url('../img/pozadina4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: visible;
}
#pocetna header {
  font-size: 0;
}
#pocetna header .info {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  background: rgba(0, 0, 0, 0.541);
  box-sizing: border-box;
  font-size: 14px;
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #564C3B;
  color: #B3B3B3;
}
#pocetna header nav {
  position: relative;
  margin-top: 30px;
  height: 50px;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .mob_nav {
    background: #1d1d1d;
    display: none;
    width: 80%;
    max-width: 400px;
    position: fixed;
    top: 140px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999999;
    box-sizing: border-box;
    padding: 50px 0;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
  }
  #pocetna header nav .mob_nav .lista_nav {
    padding: 0;
    margin-bottom: 50px;
    display: block;
    background: #1a1a1a;
    width: 100%;
  }
  #pocetna header nav .mob_nav .lista_nav li {
    display: block;
  }
  #pocetna header nav .mob_nav .lista_nav li a {
    padding: 0;
    width: 100%;
  }
  #pocetna header nav .mob_nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  #pocetna header nav .mob_btn {
    float: right;
    font-size: 37px;
    right: 20px;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}
#pocetna header nav h1 {
  float: left;
  font-size: 20px;
  color: #b4b4b4;
  margin: 0;
  padding: 10px;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav h1 {
    font-size: 10px;
  }
}
#pocetna header nav .lista_nav {
  margin: 0;
  list-style-type: none;
  float: left;
}
#pocetna header nav .lista_nav li {
  font-size: 16px;
  display: inline-block;
}
#pocetna header nav .lista_nav li a {
  display: block;
  font-family: 'Montserrat';
  color: #F8F7F7;
  padding: 0 30px;
  text-transform: uppercase;
  transform: scale(1, 1.2);
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 50px;
}
#pocetna header nav .lista_nav li a:hover {
  color: #d4a752;
}
#pocetna header nav .login {
  position: relative;
  float: right;
  margin-top: 10px;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login {
    float: unset;
    display: block;
    overflow: hidden;
  }
}
#pocetna header nav .login #profil {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  font-size: 14px;
  margin-top: -10px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login #profil {
    text-align: center;
    display: block;
    overflow: hidden;
    height: unset;
  }
}
#pocetna header nav .login #profil .slika_korisnika {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #e4c07d;
}
#pocetna header nav .login #profil .slika_korisnika img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
#pocetna header nav .login #profil .ime {
  position: relative;
  display: flex;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
  font-family: 'Playfair Display', serif;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login #profil .ime {
    text-align: center;
    margin: 20px 0;
    display: block;
    vertical-align: unset;
    padding: 10px 0;
    background: #1a1a1a;
  }
}
#pocetna header nav .login #profil .ime p {
  color: #f3c469;
  margin: auto;
  font-size: 18px;
}
#pocetna header nav .login #profil .ime a {
  text-decoration: underline;
  color: #bdbdbd;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
#pocetna header nav .login #profil .ime a:hover {
  color: #d1d1d1;
  text-decoration: underline;
}
#pocetna header nav .login #profil .profil_info {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.541);
  width: 160px;
  right: 0;
  top: 60px;
  transition: 0.2s ease-out all;
  z-index: 99999;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login #profil .profil_info {
    visibility: unset;
    background: transparent;
    position: relative;
    margin-top: 20px;
  }
}
#pocetna header nav .login #profil .profil_info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #564C3B;
}
#pocetna header nav .login #profil .profil_info ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px;
  color: #B3B3B3;
}
#pocetna header nav .login #profil .profil_info ul li a:hover {
  color: #e4c07d;
}
#pocetna header nav .login #profil .profil_info ul li:first-child {
  margin-top: 10px;
}
#pocetna header nav .login #profil .profil_info ul li:last-child {
  margin-top: 20px;
  background: #c6a25f;
}
#pocetna header nav .login #profil .profil_info ul li:last-child a {
  color: #101010;
}
#pocetna header nav .login #profil .profil_info ul li:last-child a:hover {
  background: #e4c07d;
}
#pocetna header nav .login #profil:hover > .profil_info,
#pocetna header nav .login #profil .profil_info:hover {
  visibility: visible;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login #profil {
    grid-template-columns: auto;
    width: 100%;
    text-align: center;
    display: block;
  }
  #pocetna header nav .login #profil .slika_korisnika {
    text-align: center;
    margin: 0 auto;
    display: none;
  }
  #pocetna header nav .login #profil .profil_info {
    visibility: visible;
    position: relative;
    display: none;
    width: 100%;
    top: 0;
  }
}
#pocetna header nav .login input {
  font-size: 12px;
  width: 120px;
  border: 0;
  text-indent: 1em;
  height: 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.541);
  border-bottom: 1px solid #C19237;
  color: #f3c469;
}
#pocetna header nav .login input:focus {
  outline: none;
}
#pocetna header nav .login .login_btn {
  margin: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-sizing: border-box;
  transform: translateY(1px);
  background: #e4c07d;
  color: #414141;
}
#pocetna header nav .login .login_btn:hover {
  border: 1px solid #564C3B;
  background: #000;
  color: #e4c07d;
  padding: 0;
}
#pocetna header nav .login .link_reg {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  float: right;
  font-size: 12px;
  z-index: 21;
  color: #d4c6ac;
}
@media screen and (max-width: 1000px) {
  #pocetna header nav .login {
    float: unset;
    width: 70%;
    margin: 0 auto;
  }
  #pocetna header nav .login input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background: #181818;
    padding: 20px 0;
    border-color: #181818;
  }
  #pocetna header nav .login input:focus {
    border-color: #e4c07d;
  }
  #pocetna header nav .login .login_btn {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
#pocetna header nav .usr {
  margin-right: 10px;
}
#pocetna header nav .logo {
  float: left;
  width: 50px;
  height: 50px;
  background: url('../img/logo.png') no-repeat;
  background-size: 100% 100%;
}
#pocetna header nav h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  float: left;
  font-size: 26px;
  margin: 0 0 0 10px;
  line-height: 50px;
}
#pocetna #naslov {
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;
  font-weight: 700;
  color: #d4d4d4;
  overflow: auto;
}
#pocetna #naslov h1 {
  font-weight: 100;
  margin: 0;
  font-size: 100px;
}
#pocetna #naslov h2 {
  margin: 0 0 30px 0;
  font-size: 40px;
  font-weight: 100;
}
@media screen and (max-width: 1000px) {
  #pocetna #naslov h1 {
    font-size: 10vw;
  }
  #pocetna #naslov h2 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 550px) {
  .linija1 {
    width: 60vw;
  }
  .linija2 {
    width: 20vw;
  }
}
#TestDatum {
  margin-bottom: 80px;
}
#info {
  width: 100%;
  height: 1600px;
  text-align: left;
}
#registracija_wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(2px);
}
#registracija_wrap .izlaz {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 50px;
  cursor: pointer;
}
#registracija_wrap .izlaz .x1 {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotate(45deg);
  background: #e2e2e2;
}
#registracija_wrap .izlaz .x2 {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotate(-45deg);
  background: #e2e2e2;
}
#registracija {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 90%;
  max-width: 600px;
  border-top: 1px solid #926f0d;
  background: #1f1f1f;
  box-sizing: border-box;
  padding: 20px;
}
#registracija h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#registracija .levo,
#registracija .desno {
  text-align: left;
  display: block;
  position: relative;
}
#registracija input,
#registracija select {
  box-sizing: border-box;
  margin: 15px 0;
  border: none;
  -webkit-appearance: none;
  padding: 18px;
  display: block;
  text-indent: 0.5em;
  width: 100%;
  background: #1a1a1a;
  color: #d8d8d8;
  border-bottom: 1px solid transparent;
  transition: 0.7s ease all;
}
#registracija input:focus,
#registracija select:focus {
  outline: none;
  border-color: #926f0d;
}
#registracija .slika {
  border: none;
  background: none;
  text-indent: unset;
  margin: 0;
}
#registracija .reg_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 30px 0;
}
@media screen and (max-width: 600px) {
  #registracija .reg_content {
    grid-template-columns: 1fr;
  }
}
#registracija .potvrdi {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  background: #474747;
  color: #d8d8d8;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}
#registracija .potvrdi:hover {
  background: #e4c07d;
  color: #1f1f1f;
}
.input_polja {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .input_polja {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .input_polja {
    grid-template-columns: 1fr;
  }
}
.polje_x {
  position: relative;
  font-size: initial;
}
.polje_x #btn_rezervisi {
  display: table;
  width: 100%;
  height: 110px !important;
}
.polje_x #btn_rezervisi input[type=submit] {
  background: #e4c07d;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.polje_x #btn_rezervisi input[type=submit]:hover {
  border: 1px solid #564C3B;
  background: #101010;
  color: #e4c07d;
}
@media screen and (max-width: 1000px) {
  .polje_x #btn_rezervisi {
    margin-bottom: 50px;
  }
}
.polje {
  position: relative;
  padding: 20px;
  height: 110px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #564C3B;
}
.polje label {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
}
.polje .datum {
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;
  outline: none;
  width: 100%;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #e4c07d;
  margin-top: 10px;
  cursor: pointer;
  background-image: url('../img/strela.png');
  background-repeat: no-repeat;
  background-position: right 1em top 50%, 0 0;
  background-size: 0.55em auto, 100%;
}
@media screen and (max-width: 1300px) {
  .polje .datum {
    font-size: 18px;
  }
}
@media screen and (max-width: 1150px) {
  .polje .datum {
    font-size: 16px;
  }
}
@media screen and (max-width: 1070px) {
  .polje .datum {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .polje .datum {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .polje .datum {
    font-size: 16px;
  }
}
.polje .datum:before {
  position: absolute;
  content: attr(data-date);
  display: inline-block;
  color: #f3c469;
}
.polje .datum::-webkit-datetime-edit,
.polje .datum::-webkit-inner-spin-button,
.polje .datum::-webkit-clear-button {
  display: none;
}
.polje .datum::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  color: transparent;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
}
.polje .datum::-webkit-calendar-picker-indicator:hover {
  background: none;
}
.polje select {
  width: 100%;
  margin-top: 15px;
  font-size: 1.5em;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #f3c469;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/strela.png');
  background-repeat: no-repeat;
  background-position: right 1em top 50%, 0 0;
  background-size: 0.45em auto, 100%;
}
.polje select:hover {
  outline: none;
  border: none;
}
.polje select:focus {
  outline: none;
}
.polje select option {
  color: #000;
  cursor: pointer;
  border: none;
  padding-left: 20px;
}
::selection {
  background: #e4c07d;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e4c07d;
  /* Gecko Browsers */
}
/* ======================================================================*/
/*  ADMIN PANEL */
/* ======================================================================*/
#admin_win {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../img/pozadina4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}
#admin_win #admin_wrap {
  background: rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(2px);
  position: absolute;
  width: 100%;
  height: 100%;
}
#admin_win #admin_form {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999;
  right: 0;
  margin: 0 auto;
  transform: translateY(-60%);
  width: 90%;
  max-width: 450px;
  border-top: 1px solid #926f0d;
  background: #1f1f1f;
  box-sizing: border-box;
  padding: 50px 60px;
}
#admin_win #admin_form h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#admin_win #admin_form input {
  box-sizing: border-box;
  margin: 30px 0;
  border: none;
  -webkit-appearance: none;
  padding: 18px;
  display: block;
  text-indent: 0.5em;
  width: 100%;
  background: #1a1a1a;
  color: #d8d8d8;
  border-bottom: 1px solid transparent;
  transition: 0.7s ease all;
}
#admin_win #admin_form input:focus {
  outline: none;
  border-color: #926f0d;
}
#admin_win #admin_form .potvrdi {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  background: #474747;
  color: #d8d8d8;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}
#admin_win #admin_form .potvrdi:hover {
  background: #e4c07d;
  color: #1f1f1f;
}
#adminpanel {
  position: relative;
  overflow: auto;
  background: #202020;
}
#adminpanel .admin_nav {
  position: fixed;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background: #191919;
  text-align: center;
}
#adminpanel .admin_nav h1 {
  margin-top: 50px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
#adminpanel .admin_nav h2 {
  margin-top: 100px;
  color: #B3B3B3;
}
#adminpanel .admin_nav a {
  color: #e4c07d;
}
#adminpanel .admin_header {
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #999999;
}
#adminpanel .admin_str {
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px 20px 280px;
}
#adminpanel .admin_str .tabela {
  width: 80%;
  color: #9c9c9c;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  background: #191919;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
}
#adminpanel .admin_str .tabela thead tr th {
  text-align: left;
  height: 60px;
}
#adminpanel .admin_str .tabela thead tr th:first-child {
  width: 70px;
}
#adminpanel .admin_str .tabela thead tr th span {
  color: #e4c07d;
  font-family: 'Montserrat';
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 200;
  word-spacing: 4px;
}
#adminpanel .admin_str .tabela thead tr th:last-child {
  text-align: right;
}
#adminpanel .admin_str .tabela tbody tr td img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 20px;
  box-sizing: border-box;
  border: 3px solid #464646;
}
#adminpanel .admin_str .tabela tbody tr td a {
  color: #e4c07d;
  padding: 10px;
}
#adminpanel .admin_str .tabela tbody tr td a:last-child:hover {
  color: red;
}
#adminpanel .admin_str .tabela tbody tr td:nth-child(2) {
  font-weight: bold;
}
#adminpanel .admin_str .tabela tbody tr td:last-child {
  text-align: right;
}
#adminpanel .admin_str #dodajSobu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
#adminpanel .admin_str #dodajSobu input {
  padding: 10px;
  color: #e4c07d;
  background: #161616;
  border: none;
  outline: none;
}
#adminpanel .admin_str #dodajSobu input[type=submit] {
  color: #e4c07d;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  border-left: 1px dashed #3f3f3f;
}
#adminpanel .admin_str #dodajSobu input[type=submit]:hover {
  background: #e4c07d;
  color: #000;
}
@media screen and (max-width: 1000px) {
  #adminpanel .admin_str #dodajSobu {
    grid-template-columns: 1fr 1fr;
  }
}
#adminpanel .admin_str .sobe td {
  padding: 10px 0;
}
#adminpanel .admin_str .sobe thead tr th:first-child {
  width: unset;
}
/* ======================================================================*/
/*  Rezervacija sobe */
/* ======================================================================*/
#rezervacija_wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(2px);
}
#rezervacija_wrap .izlaz {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 50px;
  cursor: pointer;
}
#rezervacija_wrap .izlaz .x1 {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotate(45deg);
  background: #e2e2e2;
}
#rezervacija_wrap .izlaz .x2 {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotate(-45deg);
  background: #e2e2e2;
}
#rezervisi {
  text-align: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 90%;
  max-width: 500px;
  border-top: 1px solid #926f0d;
  background: #1f1f1f;
  box-sizing: border-box;
  padding: 20px;
}
#rezervisi h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#rezervisi input,
#rezervisi select {
  box-sizing: border-box;
  margin: 15px 0;
  border: none;
  -webkit-appearance: none;
  padding: 18px;
  display: block;
  text-indent: 0.5em;
  width: 100%;
  background: #1a1a1a;
  color: #d8d8d8;
  border-bottom: 1px solid transparent;
  transition: 0.7s ease all;
}
#rezervisi input:focus,
#rezervisi select:focus {
  outline: none;
  border-color: #926f0d;
}
#rezervisi .slika {
  border: none;
  background: none;
  text-indent: unset;
  margin: 0;
}
#rezervisi .reg_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 30px 0;
}
@media screen and (max-width: 600px) {
  #rezervisi .reg_content {
    grid-template-columns: 1fr;
  }
}
#rezervisi .potvrdi {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  background: #e4c07d;
  color: #1f1f1f;
  letter-spacing: 3px;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid #e4c07d;
  text-transform: uppercase;
  transition: 0.4s all;
}
#rezervisi .potvrdi:hover {
  background: #333333;
  color: #e4c07d;
  border-color: #564C3B;
}
#rezervisi h2 {
  margin-bottom: 10px;
}
#rezervisiSobu table {
  font-family: 'Source Sans Pro';
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  width: 100%;
  margin: 40px auto;
}
#rezervisiSobu table td {
  font-size: 14px;
  padding: 15px;
  color: #b1b1b1;
}
#rezervisiSobu table td:nth-child(even) {
  text-align: right;
}
#rezervisiSobu table td span {
  color: #e4c07d;
  text-align: right;
}
#rezervisiSobu table tr:nth-child(even) {
  background: #292929;
}
#rezervisiSobu table tr:last-child td {
  font-weight: bold;
  font-size: 17px;
}
.slika_okvir {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.slika_okvir img {
  min-width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #C19237;
}
/* ======================================================================*/
/*  Profil korisnika */
/* ======================================================================*/
#profil_div {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('../img/pozadina4.jpg') no-repeat center center;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.obrisi:hover {
  color: red;
}
.korisnik {
  overflow: hidden;
  text-align: center;
  width: 100%;
  background: #1f1f1f;
  padding-top: 50px;
}
.korisnik .logout_profil {
  color: #cacaca;
  text-decoration: underline;
  font-size: 16px;
}
.korisnik .logout_profil:hover {
  color: #ececec;
}
.korisnik .home_link {
  background: #181818;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  font-size: 16px;
  top: 0;
  color: #979797;
}
.korisnik .home_link:hover {
  color: #575757;
  background: #dab673;
}
.korisnik .korisnik_img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  border: 5px solid #e4c07d;
  border-radius: 50%;
}
.korisnik .korisnik_img img {
  min-width: 100%;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.korisnik h1 {
  color: #e4c07d;
}
.korisnik form {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  text-align: left;
}
.korisnik form span {
  margin-left: 1em;
  color: #e4c07d;
}
.korisnik form input {
  box-sizing: border-box;
  margin: 15px 0;
  border: none;
  -webkit-appearance: none;
  padding: 18px;
  display: block;
  text-indent: 0.5em;
  width: 100%;
  background: #1a1a1a;
  color: #d8d8d8;
  border-bottom: 1px solid transparent;
  transition: 0.7s ease all;
}
.korisnik form input:focus {
  outline: none;
  border-color: #926f0d;
}
.korisnik form input:last-child {
  text-indent: unset;
}
.korisnik form .slika {
  text-indent: unset;
}
.korisnik form .potvrdi {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  background: #474747;
  color: #d8d8d8;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  text-indent: unset;
  text-transform: uppercase;
  border-radius: 5px;
}
.korisnik form .potvrdi:hover {
  background: #e4c07d;
  color: #1f1f1f;
}
.korisnik form img {
  margin-bottom: 50px;
}
.korisnik h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.korisnik table {
  width: 100%;
  padding: 40px;
  background: #1a1a1a;
  margin: 50px 0;
}
.korisnik table th {
  color: #e4c07d;
}
.korisnik table td {
  padding: 10px 0;
}
.korisnik .nores {
  background: #1a1a1a;
  padding: 20px;
  margin: 10px 0 80px 0;
}
.korisnik .nores p {
  color: #B3B3B3;
}
/* ======================================================================*/
/*  Info sekcija */
/* ======================================================================*/
#info1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  #info1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  #info1 {
    grid-template-columns: 1fr;
  }
}
#info1 .info_div {
  position: relative;
  text-align: center;
  height: 400px;
  overflow: hidden;
}
#info1 .info_div h1 {
  font-family: 'Playfair Display';
  color: #e4c07d;
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 100;
}
#info1 .info_div .poz_slika {
  object-fit: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  #info1 .info_div:nth-child(3) {
    grid-column-start: 2;
  }
  #info1 .info_div:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
#info1 .text {
  box-sizing: border-box;
  padding: 10% 15%;
}
#info1 .text p {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #b1aca3;
  margin-top: 50px;
}
.okvir2 {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
#info2 {
  background: url('../img/p1.jpg');
  border-top: 1px solid #564C3B;
  border-bottom: 1px solid #564C3B;
  text-align: center;
  padding: 80px;
}
#info2 h1 {
  font-family: 'Playfair Display';
  color: #564C3B;
  margin: 20px 0 10px 0;
  font-size: 46px;
  font-weight: 100;
}
#info2 #info_div {
  text-align: center;
}
#info2 #info_div .broj {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 120px;
  background: url('../img/line4.webp');
  background-size: 100% 100%;
  margin: 0 6vw;
}
@media screen and (max-width: 1200px) {
  #info2 #info_div .broj {
    margin: 10px 2vw;
  }
}
@media screen and (max-width: 800px) {
  #info2 #info_div .broj {
    display: block;
    margin: 80px auto;
  }
}
#info2 #info_div .broj .brs {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #e4c07d;
}
#info2 #info_div .broj .broj_text {
  position: absolute;
  font-family: 'Montserrat';
  color: #bdbdbd;
  font-size: 14px;
  left: 0;
  right: 0;
  bottom: -30px;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  #info2 #info_div {
    display: block;
  }
}
.obavestenje3 {
  font-family: "Playfair Display";
  width: 100%;
  box-sizing: border-box;
  padding: 32px 10px;
  border: 1px solid #e4c07d;
  background: #101010;
  color: #e4c07d;
  margin-top: 40px;
}
.obavestenje3 h2 {
  font-size: 30px;
  margin-top: 0;
  padding: 0;
  font-weight: 200;
  color: #e4c07d;
}
.obavestenje3 p {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 400;
  color: #b1aca3;
  line-height: 1.5em;
}
.obavestenje3 p span {
  color: #e4c07d;
}
.success,
.error,
.sending {
  display: none;
}
@keyframes boja {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.sending span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  background: #e4c07d;
  animation-name: boja;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.sending span:nth-child(2) {
  animation-delay: 0.2s;
}
.sending span:nth-child(3) {
  animation-delay: 0.4s;
}
#kontakt {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  background: url('../img/kontakt.jpg') no-repeat center center;
  background-size: cover;
}
#kontakt .kontakt_div {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(2px);
  z-index: 99;
  padding: 50px 0 100px 0;
}
#kontakt .kontakt_div #kontaktForm {
  margin: 40px 0;
}
#kontakt .kontakt_div #kontaktForm .polje {
  box-sizing: border-box;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  text-indent: 1em;
  background: #101010;
  border: 1px solid #564C3B;
  color: #e4c07d;
}
#kontakt .kontakt_div #kontaktForm .polje:focus {
  border: 1px solid #e4c07d;
}
#kontakt .kontakt_div #kontaktForm input {
  width: calc(50% - 5px);
  height: 40px;
}
#kontakt .kontakt_div #kontaktForm input:first-child {
  margin-right: 10px;
}
#kontakt .kontakt_div #kontaktForm textarea {
  width: 100%;
  height: 80px;
  resize: none;
}
#kontakt .kontakt_div #kontaktForm input[type=submit] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  cursor: pointer;
  text-indent: unset;
  background: #e4c07d;
  color: #000;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 6px;
}
#kontakt .kontakt_div #kontaktForm input[type=submit]:hover {
  background: #b28e4b;
}
#kontakt h1 {
  font-family: 'Playfair Display';
  color: #e4c07d;
  margin: 20px 0 10px 0;
  font-size: 46px;
  font-weight: 100;
}
#kontakt iframe {
  position: absolute;
  top: 0;
  width: 150%;
  left: -25%;
  height: 150%;
  filter: invert(90%) brightness(80%) grayscale(1);
  -moz-filter: invert(90%) brightness(80%) grayscale(1);
}
footer {
  font-family: 'Source Sans Pro';
  background: #181818;
  box-sizing: border-box;
  border-top: 1px solid #564C3B;
  padding: 40px 0;
  font-size: 14px;
}
footer a {
  color: #e4c07d;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 1em;
}
footer a:hover {
  text-decoration: underline;
}
